 <div class="left-sidebar">
            <!-- 用户信息 -->
           <!--  <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="__admin__/assets/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              禁言小张
          </span>
                    <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
                </div>
            </div> -->

            <!-- 菜单 -->
            <ul class="sidebar-nav">
                 <li class="sidebar-nav-link">
                    <a href="{:url('index/index')}" class="active">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
               
                 <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 客户管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="{:url('customer/lst')}" >
                                <span class=" sidebar-nav-link-logo"></span> 客户列表
                            </a>



                        </li>

                        <li class="sidebar-nav-link">
                            <a href="javascript:;" class=" am-icon-angle-right sidebar-nav-sub-title">
                                <span class=" sidebar-nav-link-logo"></span> 分级管理
                            </a>



                            <ul class="sidebar-nav sidebar-nav-sub">
                                <li class="sidebar-nav-link">
                                    <a href="{:url('cusclass/lst')}">
                                        <span class=" sidebar-nav-link-logo"></span> 等级列表
                                    </a>
                                </li>

                                <li class="sidebar-nav-link">
                                    <a href="{:url('cusclass/add')}">
                                        <span class="sidebar-nav-link-logo"></span> 等级新增
                                    </a>
                                </li>
                            </ul>


                        </li>
                    </ul>
                </li>




                 <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-tv sidebar-nav-link-logo"></i> 商品管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="javascript:;" class="sidebar-nav-sub-title ">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 基本信息
                            </a>

                               <ul class="sidebar-nav sidebar-nav-sub">
                                <li class="sidebar-nav-link">
                                    <a href="{:url('product/lst')}">
                                        <span class="sidebar-nav-link-logo"></span> 商品列表
                                    </a>
                                </li>

                                <li class="sidebar-nav-link">
                                    <a href="{:url('product/add')}">
                                        <span class="sidebar-nav-link-logo"></span> 新增商品
                                    </a>
                                </li>
                            </ul>
                        </li>

                    <li class="sidebar-nav-link">
                            <a href="javascript:;" class="sidebar-nav-sub-title">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 类别管理
                            </a>



                            <ul class="sidebar-nav sidebar-nav-sub">
                                <li class="sidebar-nav-link">
                                    <a href="{:url('cate/lst')}">
                                        <span class="sidebar-nav-link-logo"></span> 分类列表
                                    </a>
                                </li>

                                <li class="sidebar-nav-link">
                                    <a href="{:url('cate/add')}">
                                        <span class="sidebar-nav-link-logo"></span> 新增分类
                                    </a>
                                </li>
                            </ul>


                        </li>



                    </ul>
                </li>


             <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-key sidebar-nav-link-logo"></i> 供应商管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="{:url('supplier/lst')}" class="">
                                <span class="sidebar-nav-link-logo"></span> 供应商列表
                            </a>

                        </li>

                        <li class="sidebar-nav-link">
                            <a href="javascript:;" class="sidebar-nav-sub-title">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 供货单管理
                            </a>



                            <ul class="sidebar-nav sidebar-nav-sub">
                                <li class="sidebar-nav-link">
                                    <a href="{:url('supplyList/lst')}">
                                        <span class="sidebar-nav-link-logo"></span> 供货单列表
                                    </a>
                                </li>

                                <li class="sidebar-nav-link">
                                    <a href="{:url('supplyList/add')}">
                                        <span class="sidebar-nav-link-logo"></span> 新增供货单
                                    </a>
                                </li>
                            </ul>


                        </li>
                    </ul>
                </li>

     <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-calendar sidebar-nav-link-logo"></i> 采购管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="{:url('stockout/lst')}" >
                    <span class="sidebar-nav-link-logo"></span> 缺货信息
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 采购信息
                </a>



                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href="{:url('purchase/replenish')}">
                            <span class=" sidebar-nav-link-logo"></span> 补货单列表
                        </a>
                    </li>

                    <!-- <li class="sidebar-nav-link">
                        <a href="#">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 采购单列表
                        </a>
                    </li> -->
                </ul>


            </li>
        </ul>
    </li>
   <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 订单管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="{:url('Order/lst')}" >
                    <span class="sidebar-nav-link-logo"></span> 订单列表
                </a>



            </li>

           <!--  <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 分级管理
                </a>



                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href="{:url('cusclass/lst')}">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 等级列表
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="{:url('cusclass/add')}">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 等级新增
                        </a>
                    </li>
                </ul>


            </li> -->
        </ul>
    </li>


             <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-clone sidebar-nav-link-logo"></i> 库存管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="javascript:;" class="sidebar-nav-sub-title">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 入库管理
                            </a>

                              <ul class="sidebar-nav sidebar-nav-sub">
                                <li class="sidebar-nav-link">
                                    <a href="{:url('input/lsted')}">
                                        <span class=" sidebar-nav-link-logo"></span> 入库单列表
                                    </a>
                                </li>

                                <li class="sidebar-nav-link">
                                    <a href="{:url('input/lst')}">
                                        <span class=" sidebar-nav-link-logo"></span> 待入库列表
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="sidebar-nav-link">
                            <a href="{:url('inventory/lst')}">
                                <span class=" sidebar-nav-link-logo"></span> 库存列表
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="javascript:;" class="sidebar-nav-sub-title">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 出库管理
                            </a>



                            <ul class="sidebar-nav sidebar-nav-sub">
                                <li class="sidebar-nav-link">
                                    <a href="{:url('output/lsted')}">
                                        <span class=" sidebar-nav-link-logo"></span> 出库列表
                                    </a>
                                </li>

                                <li class="sidebar-nav-link">
                                    <a href="{:url('output/lst')}">
                                        <span class=" sidebar-nav-link-logo"></span> 待出库列表
                                    </a>
                                </li>
                            </ul>


                        </li>
                    </ul>
                </li>
                 <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 运营管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link" >
                            <a href="{:url('operation/market')}" >
                                <span class="sidebar-nav-link-logo"></span> 销售情况
                            </a>

                              <!--  <ul class="sidebar-nav sidebar-nav-sub">
                                <li class="sidebar-nav-link">
                                    <a href="#">
                                        <span class=" sidebar-nav-link-logo"></span> 商品列表
                                    </a>
                                </li>

                                <li class="sidebar-nav-link">
                                    <a href="#">
                                        <span class=" sidebar-nav-link-logo"></span> 新增商品
                                    </a>
                                </li>
                            </ul> -->
                        </li>

                    <li class="sidebar-nav-link">
                            <a href="{:url('operation/storage')}" >
                                <span class="sidebar-nav-link-logo"></span> 库存情况
                            </a>



                           <!--  <ul class="sidebar-nav sidebar-nav-sub">
                                <li class="sidebar-nav-link">
                                    <a href="#">
                                        <span class=" sidebar-nav-link-logo"></span> 分类列表
                                    </a>
                                </li>

                                <li class="sidebar-nav-link">
                                    <a href="#">
                                        <span class=" sidebar-nav-link-logo"></span> 新增分类
                                    </a>
                                </li>
                            </ul> -->


                        </li>



                    </ul>
                </li>


            <!--    
                <li class="sidebar-nav-link">
                    <a href="tables.html">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 表格
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="calendar.html">
                        <i class="am-icon-calendar sidebar-nav-link-logo"></i> 日历
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="form.html">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 表单

                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="chart.html">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表

                    </a>
                </li>

                <li class="sidebar-nav-heading">Page<span class="sidebar-nav-heading-info"> 常用页面</span></li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 数据列表
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="table-list.html">
                                <span class=" sidebar-nav-link-logo"></span> 文字列表
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="table-list-img.html">
                                <span class=" sidebar-nav-link-logo"></span> 图文列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="sign-up.html">
                        <i class="am-icon-clone sidebar-nav-link-logo"></i> 注册
                        <span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm">6</span>
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="login.html">
                        <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="404.html">
                        <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
                    </a>
                </li>
 -->
            </ul>
        </div>


