  <div class="tpl-content-wrapper">
<!-- 
            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 部件首页 <small>Amaze UI</small></div>
                        <p class="page-header-description">Amaze UI 含近 20 个 CSS 组件、20 余 JS 组件，更有多个包含不同主题的 Web 组件。</p>
                    </div>
                    <div class="am-u-lg-3 tpl-index-settings-button">
                        <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
                    </div>
                </div>

            </div>
 -->
            <div class="row-content am-cf">
                <div class="row  am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                         <div class="widget widget-primary am-cf">
                            <div class="widget-statistic-header">
                                产品种类
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    {$arr[0]}种
                                </div>
                                
                                <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                            </div>
                        </div>
                     
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="widget widget-primary am-cf">
                            <div class="widget-statistic-header">
                                合作供应商
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    {$arr[1]}位
                                </div>
                                
                                <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                            </div>
                        </div>
                    </div>
                      <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="widget widget-purple am-cf">
                            <div class="widget-statistic-header">
                                全部订单总额
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    ￥{$arr[2]}
                                </div>
                                <div class="widget-statistic-description">
                                    待完成订单总额 <strong>{$arr[7]}</strong> 人民币
                                </div>
                                
                                <span class="widget-statistic-icon am-icon-support"></span>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="row  am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                         <div class="widget widget-primary am-cf" style="background-color:;">
                            <div class="widget-statistic-header">
                                待入库单数
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    {$arr[4]}单
                                </div>
                                 <div class="widget-statistic-description">
                                    已入库单数<strong>{$arr[3]}</strong> 单
                                </div>
                               
                                <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                            </div>
                        </div>
                     
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="widget widget-primary am-cf">
                            <div class="widget-statistic-header">
                                待出库单数
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    {$arr[6]}单
                                </div>
                                 <div class="widget-statistic-description">
                                    已出库单数 <strong>{$arr[5]}</strong> 单
                                </div>
                               
                                <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="widget widget-purple am-cf">
                            <div class="widget-statistic-header">
                                客户保有量
                            </div>
                            <div class="widget-statistic-body">
                                <div class="widget-statistic-value">
                                    {$arr[8]}位
                                </div>
                               
                                <span class="widget-statistic-icon am-icon-support"></span>
                            </div>
                        </div>
                    </div>
                </div>



     
            </div>
        </div>
    </div>
    </div>