
		<!-- <link href="__index__/basic/css/demo.css" rel="stylesheet" type="text/css" /> -->

		<link href="__index__/css/seastyle.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="__index__/basic/js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="__index__/js/script.js"></script>			
				
					<div class="am-g am-g-fixed">
						<div class="am-u-sm-12 am-u-md-12">
	                  	<div class="theme-popover">														
						<!-- 	<div class="searchAbout">
								<span class="font-pale">相关搜索：</span>
								<a title="坚果" href="#">坚果</a>
								<a title="瓜子" href="#">瓜子</a>
								<a title="鸡腿" href="#">豆干</a>

							</div> -->
							<ul class="select">
								<!-- <p class="title font-normal">
									<span class="fl">松子</span>
									<span class="total fl">搜索到<strong class="num">997</strong>件相关商品</span>
								</p> -->
							<!-- 	<div class="clear"></div> -->
								<!-- <li class="select-result">
									<dl>
										<dt>已选</dt>
										<dd class="select-no"></dd>
										<p class="eliminateCriteria">清除</p>
									</dl>
								</li>
								<div class="clear"></div> -->
								<!-- <li class="select-list">
									<dl id="select1">
										<dt class="am-badge am-round">品牌</dt>	
									
										 <div class="dd-conent">										
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<dd><a href="#">百草味</a></dd>
											<dd><a href="#">良品铺子</a></dd>
											<dd><a href="#">新农哥</a></dd>
											<dd><a href="#">楼兰蜜语</a></dd>
											<dd><a href="#">口水娃</a></dd>
											<dd><a href="#">考拉兄弟</a></dd>
										 </div>
														
									</dl>
								</li> -->
								<li class="select-list">
									<dl id="select2">
										<dt class="am-badge am-round">种类</dt>
										<div class="dd-conent">
											<dd class="select-all selected"><a href="{:url('lst')}">全部</a></dd>
								{volist name="cateRes" id="vo"}
											<dd><a href="{:url('lst',['id'=>$vo.id]
												)}">{$vo.cate_name}</a></dd>
								{/volist}
										</div>
									</dl>
								</li>
								<!-- <li class="select-list">
									<dl id="select3">
										<dt class="am-badge am-round">选购热点</dt>
										<div class="dd-conent">
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<dd><a href="#">手剥松子</a></dd>
											<dd><a href="#">薄壳松子</a></dd>
											<dd><a href="#">进口零食</a></dd>
											<dd><a href="#">有机零食</a></dd>
										</div>
									</dl>
								</li> -->
					        
							</ul>
							<div class="clear"></div>
                        </div>
							<div class="search-content">
								<div class="sort">
									<li class="first"><a title="综合">综合排序</a></li>
									<li><a title="销量">销量排序</a></li>
									<li><a title="价格">价格优先</a></li>
									<li class="big"><a title="评价" href="#">评价为主</a></li>
								</div>
								<div class="clear"></div>

								<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
{volist name="pdtRes" id="vo"}									
		<li>
			<div class="i-pic limit">
				<img src="__uploads__/{$vo.pdt_pic}" />											
				<p class="title fl">{$vo.pdt_name}</p>
				<p class="price fl">
					
	<strong>{if condition="$vo['inventory']['ivt_original_cost'] eq null"}售罄{else/}<b>¥</b><span id="pdt-{$vo.id}">{$vo['inventory']['ivt_original_cost'] * $discount|number_format=###, 2, '.', ''}</span>{/if}</strong>
				</p>
				<p class="number fl">
					<a href="javascript:addCart({$vo.id})"><img style="width:22px;height: 22px;" src="__index__/images/cart.jpg"/></a>
					<!-- <button id="">加入购物车</button> -->
				</p>
			</div>
		</li>
{/volist}
																									</ul>
					</div>
<div class="search-side">

	<div class="side-title">
经典搭配
	</div>

			<li>
				<div class="i-pic check">
					<img src="__uploads__/20190607/225031dfee65fd24b097b7a173995f85.jpg" />
					<p class="check-title">3M 口罩</p>
					
					
				</div>
			</li>
			<li>
				<div class="i-pic check">
					<img src="__uploads__/20190607/e6367bf12ee90ec37621d86a650c66ba.jpg" />
					<p class="check-title">缓降器</p>
					
					
				</div>
			</li>
		

		</div>
		<div class="clear"></div>
		<!--分页 -->
		<ul class="am-pagination am-pagination-right">
			<li class="am-disabled"><a href="#">&laquo;</a></li>
			<li class="am-active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>

	</div>
</div>
<script type="text/javascript">
	function addCart(pdtId){
		//console.log(id);
		var url="{:url('Cart/add')}";
		var data={"cart_pdt_id":pdtId,"cart_quantity":1,"cart_price":$('#pdt-'+pdtId).html(),};
		//console.log($('#pdt-'+pdtId).html());
		var success=function(response){
			if(response.errno===0){
				alert('添加购物车成功！');
			}else{
				alert('添加购物车失败，请重新添加~');
			}
		};
		if(data.cart_price!=null){
			$.post(url,data,success,'json');
		}else{
			alert('此商品已售罄，请稍后添加');
		}
		
	}
</script>