
<div class="tpl-content-wrapper">
  <div class="row-content am-cf">

  <div class="row">


                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">增加供货单</div>
<form id="listform" action="" method="post" class="am-form tpl-form-border-form tpl-form-border-br" >
    <div class="widget-function am-fr"> 
    <div style="float: left;">
    选择供应商：
     <select data-am-selected="{searchBox: 1}" style="display: none;" id="supplier"  class="tpl-form-input"  name='sl_sp_id'>
      <option selected="selected" disabled="disabled">请选择供应商</option>
    {volist name="supplierRes" id="vo"}
                        <option value="{$vo.id}" cateID="{$vo.sp_cate_id}">{$vo.sp_name}</option>
    {/volist}                   
    </select>
    </div>
    <div style="float: left;">
    选择要增加的产品：
     <select class=" tpl-form-input pdt" data-am-selected="{searchBox: 1}" style="display: none;" id="pdt">
   
             
                  
    </select>
  

     
   
                                    <button id="addtr" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                    <button id="deltr" type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>

                                </div>
</div>






<div class="widget-body  widget-body-lg am-fr">

                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>产品名称</th>
                                            <th>单价/元</th>
                                            <th>数量/件</th>
                                            <th>总价/元</th>
                                        </tr>
                                    </thead>
                                    <tbody id="otb">
<tr id="otr" class="gradeX">


<td class="td"></td>
<td>
                                                

<select style="width:130px;height:30px;border:1px solid black; "class="text_box select_box"  type="text" name="slt_pdt_id[]" ><option ></option></select> 

   
</td>
                        <td>
                        
                            <input style="width:100px;height:30px;border:1px solid black; " class=" tpl-form-input text_box"  type="text" name="slt_price[]"/>
                     
                        </td>
                        <td>
                            <div class="sl">
                                <input onclick="var i=$(this).next().val();if(--i >=0){
                                  $(this).next().val(i);
                                  var p=$(this).parents('td').prev().children().val();
                                  $(this).parents('td').next().children().val(p*i);}" class="min am-btn" name="" type="button" style="float:left;font-weight:bold;"value="-" />
                                <input class="text_box" name="slt_quantity[]" type="text" value="3" style="float:left;width:60px;height:30px;border:1px solid black; "/>
                                <input onclick="var i=$(this).prev().val();$(this).prev().val(++i);

                                  var p=$(this).parents('td').prev().children().val();
                                  $(this).parents('td').next().children().val(p*i);"  class="add am-btn" name="" type="button" style="float:left;font-weight:bold;" value="+" />
                            </div>

                        </td>
                        <td>
                            <input style="width:100px;height:30px;border:1px solid black; " class="text_box"  type="text" name="slt_total_amount[]"/>
                        </td>
                    </tr>
                 
                    <!-- more data -->
                </tbody>
            </table>
             <div class="am-form-group" style="float: right;">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button  type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        </div>
                                    </div>
                                      </div>

        </form>

        </div>
    </div>
</div>



            </div>
  






       </div>

<script type="text/javascript">

    var i = 1;
      $(".td").each(function(){
          $(this).html(i++);
      });
      var flag=true;/*设置这个标志位是当第一行时 只执行产品信息赋值不进行插入新行操作 */
    $('#addtr').click(function(){
     // console.log($('.min:eq(2)'));
       if(flag===false) {
               var ntr=$('#otr').clone();/*复制上一行*/
               $('#otb').append(ntr);/*添加到下一行*/
               var i = 1;/*给每一行一个序号*/
              $(".td").each(function(){
                  $(this).html(i++);
              });
      }
 
     /* 因为是完全复制上一行的html代码 所以要把上一行的值清空 并且要给select列表赋值循环出新的选项*/
      $("tbody tr:last").find(":input").val('0');
      $("tbody tr:last").find(":input:eq(2)").val('-');
      $("tbody tr:last").find(":input:eq(4)").val('+');
      console.log( $("tbody tr:last .select_box option"));
     
      $("tbody tr:last .select_box option").attr('value',$('#pdt').val());  
      $("tbody tr:last .select_box option").attr('selected','selected');  
      $("tbody tr:last .select_box option").text($('#pdt option:checked').text());
       flag=false;/*一定是在！！！！第一次执行完之后的代码！！！后边进行标志位的变换 跳到另一个位置*/

    });
    $('#deltr').click(function(){
     /* 有个问题就是只能删到剩下两个*/
        $('tbody tr:not(:first):not(:first):last').remove();
    });
  
/*这个可以把表单中的每个需要提交的选项编程json对象*/
   // $('#btn').click(function(){
   //  console.log($('#listform').serializeArray());
   // });



</script>
<script type="text/javascript">
 //通过异步加载实现了 选择不同的供应商会出现相应类别的产品
  $('#supplier').change(function(){
      var a=$(this).val(); 
      if(a!==0){
       $.ajax({
             type: "POST",
             dataType: "json",
             url: "{:url('getpdt')}",
             data: "spId="+a,
             success: function (data) {
             // console.log(data);
                 $("#pdt").html("<option value=''>请选择产品</option>");
                 //对返回的分类进行遍历
                 $.each(data, function(i, item) {
                 // console.log(item.product);
                 // 分类与产品是一对多的关系 对某一类的产品项再遍历
                  $.each(item.product,function(j,p){
                     // console.log(p.pdt_name);
                     // 进行赋值操作
                       $("#pdt").append("<option value='" + p.id + "'>" + p.pdt_name + "</option>"); 
                  });
                
                     });
                  }, 
              error:function (data) { alert("请求超时!"); } 
            }); 
     } 

  });
 
 
</script>
