     <div class="tpl-content-wrapper">

           

            <div class="row-content am-cf">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">产品销售走势</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <div style="height: 400px" class="" id="tpl-echarts-S">

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    </div>

     <script type="text/javascript">


var order={$order};
var data={$data};
var pdtName={$pdtName};
/*console.log(pdtName);*/
console.log(order);
/*console.log(data);*/
/*获取所有的时间点*/
var xdata=new Array();
$.each(data,function(i,e){
    xdata.push(Number(e.days));
});
/*console.log(xdata);*/
/*对时间数组进行排序 使sdata中data的数据顺序与x轴的时间顺序一致*/
xdata=xdata.sort(function(a,b){
    return a-b;
});
/*获取所有的产品名称 也就是决定有几条线*/
var ldata=new Array();
var dataid=new Array();
$.each(order,function(i,e){
    if($.inArray(e.odt_pdt_id,dataid) ===-1){
      ldata.push(pdtName[e.odt_pdt_id]);
      dataid.push(e.odt_pdt_id);
  }
});
/*console.log(ldata);
console.log(dataid);*/
/*构造每个产品在对应的天数的销量数组*/
/*初始化一个二维数组*/
var sdata=new Array();
$.each(dataid,function(i,e){
        sdata[e]=new Array(xdata.length);
      //  console.log(sdata[e],'da');
        $.each(sdata[e],function(j,k){
            var res=findcount(xdata[j],e);
            sdata[e][j]=res!=0?res:0;
        });
});
/*console.log(sdata);*/
/*构造json数组*/
var jsondata=new Array();
$.each(dataid,function(i,e){
    var jsonobject={name:pdtName[e],type:'line',stack:'总销量',data:sdata[e]};
    jsondata.push(jsonobject);
});
/*console.log(jsondata);*/


var echartsS = echarts.init(document.getElementById('tpl-echarts-S'));
optionS = {
    title: {
        text: '近期各种产品销售走势'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:ldata,
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: xdata,
    },
    yAxis: {
        type: 'value'
    },
    /*还差这个json了*/
    series: jsondata
};


 echartsS.setOption(optionS);
 /*console.log(findcount("20190531",4));*/

 /*定义一个方法 根据时间和产品id从订单表中找出 这一天这个产品的总销量 如果没有返回零*/
function findcount(day,id){
    var res=0;
    $.each(order,function(i,e){
        if(Number(e.days)===day && e.odt_pdt_id===id){
           res= e.COUNT;
        }
    });
    return res;
}
</script>